<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link href="js/themes/dark-hive/jquery-ui.css" rel="stylesheet" />
    <link href="js/themes/dark-hive/theme.css" rel="stylesheet" />
    <link href="js/jquery-ui-fix.css" rel="stylesheet" />

    <script type="text/javascript" src="js/jquery-3.7.1.min.js"></script>

    <script type="text/javascript" src="js/jquery-ui.js"></script>
    <script type="text/javascript" src="js/jquery-ui-fix.js"></script>

    <title>wasmFreeQueue test html page</title>
    <style></style>

    <script defer type="module">
	import FreeQueue from "./js/freequeue.js";

	let increment = 0.0001;
	let blocklen = 1764;
	let channels = 2;

	globalThis["queue"] = new FreeQueue( 44100, 10, channels );
	globalThis["queue"].Wait();

	let data = new Float32Array( blocklen * channels );
	for ( let i = 0; i < blocklen * channels; i++ ) {
		data[i] = 0.001 + increment * i;
	}

	let r = false;

	r = globalThis["queue"].FreeQueuePush(data, blocklen);
	if ( r ) {
		console.log("FreeQueuePush() = true\n");
	}

	
    </script>
</head>

<body>
	<button id="startTest1">FQ_FreeQueueCreate</button>
	<button id="startTest2">DestroyThreads</button>
	<button id="startTest3">PrintVarStack</button>
	<button id="startTest4">PullData</button>
</body>

</html>
</html>